/* Small Screen */
.container {
    margin-bottom: 10rem;
  }
  
  .beranda {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Poppins';
    align-items: center;
    font-size: 1.3rem;
  }
  
  .beranda__left {
    margin-bottom: 1rem;
  }
  
  .beranda__title {
    color: #8DC6D3;
    font-size: 3rem;
  }
  
  .beranda__monitoring {
    color: #FFB9B9;
    margin-bottom: 2rem;
    font-size: 1.3rem;
  }
  
  .beranda__description {
    color: #64748B;
    max-width: 1000px;
    font-size: 1rem;
    padding: 0 3rem;
  }
  
  .beranda__button {
    padding: 10px 20px;
    background-color: #8DC6D3;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 2rem;
    font-size: 0.8rem;
  }
  
  .beranda__image {
    width: 500px;
  }
  
  /* Medium Screen */
  @media (min-width: 768px) {
  }
  
  /* Large Screen */
  @media (min-width: 992px) {
    .container {
        max-width: 1200px;
        margin: 3rem auto;
      }
  
    .beranda {
        margin: 0 1rem;
        padding: 0.5rem;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: left;
        max-width: 1100px;
    }
  
    .beranda__left {
        flex-basis: 40%;
    }

    .beranda__description {
      padding: 0rem;
    }
  }